body{
    margin: 90px;
    padding:35px;
    background-color: pink;
}
img{
    max-width: 50%
}
h1{
    color: #8a2be2ff;
    text-decoration: underline;
    text-transform: capitalize;
}
ul{
    width: 210px;
    float: right;
    list-style: none;
}
li{
    font-size:18px ;
    text-align: right;
    line-height: 1.5;
}
p{
    text-align: left;
}


