body{
    height:150vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    justify-content: center;
    /*font-family: "Poppins";*/
    color: white;

}
.mau{
    w
    background: darkviolet;
}
.cardd{
    width:400px;
    height: 600px;
    background: #bed0e1;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    overflow: hidden;

}
.cardd1{
    width:400px;
    height: 150px;
    background: darkviolet;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}
.mau{
    font-size: 20px;
    padding: 50px;
}
label{
    float: left;
}
.singup{
    background-color: darkviolet;
}